@import "variables";
@import "mixins";
/*
@import "components/layout";
@import "components/animations";
@import "components/buttons";
@import "components/navs";
@import "components/captions";
@import "components/markers";
@import "components/preload";
@import "components/scrollbar";
@import "components/swiper";
@import "components/switch";
@import "components/typography";
@import "sections/header";
@import "sections/footer";
@import "sections/overview";
@import "sections/specs";
@import "sections/learn";
@import "responsive";
*/

body {
    padding: 0;
    margin: 0;
    background: #eeeeee;
}

.editor {
    width: 100vw;
    height: 100vh;
}

.controls {
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn {
    -webkit-appearance: none;
    border: none;
    border-radius: 2px;
    background: black;
    color: white;
    font-size: 12px;
    padding: 8px 10px;
}